.projects-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-item {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-item-content {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.projects-item-content>div {
    margin: auto;
}

.projects-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.projects-tags>span {
    border: 1px solid black;
    padding: 2px 8px;
    text-align: center;
    border-radius: 10px;
    font-size: 8pt;
    text-transform: uppercase;
}