html {
	box-sizing: border-box
}

body {
	margin: 0;
}

*, *::before, *::after {
	box-sizing: inherit
}

button {
	all: unset;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}
